<style>
        
color: rgb(255, 111, 111);
}
.main{
background-color: black;
display: flex;
flex-direction: row;
justify-content: space-between;
padding: 12px;
padding-left: 22px;
}
.logo {
color: white;
}
.links, a{
list-style: none;
color: white;
font-size: 30px;
text-decoration: none;
display: flex;
flex-direction: row;
gap: 20px;
padding-right: 22px;
padding-top: 10px;
font-weight: lighter;
}
.active a {
background-color: rgb(86, 131, 170);
color: bisque;
border-radius: 10px;
padding: 10px;
}
a:hover {

</style>